@model Sensor

<div class="d-flex justify-content-center align-items-center">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
        <h2 class="card-title text-center mb-4">Salvar dados do Sensor</h2>
        <form asp-action="Save" method="post">
            <div>
                <input type="hidden" name="Operacao" value="@ViewBag.Operacao">
            </div>
            <div class="mb-3">
                <input asp-for="SensorId" class="form-control" hidden>
            </div>
            <div class="mb-3">
                <label for="SensorNome" class="form-label">Nome do Sensor</label>
                <input asp-for="SensorNome" class="form-control" placeholder="Digite o Nome do sensor" required>
                <span asp-validation-for="SensorNome" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="TipoSensorId" class="form-label">Tipo do Sensor</label>
                <select asp-for="TipoSensorId" asp-items="ViewBag.TipoSensores" class="form-control" required></select>
            </div>
            <div class="mb-3">
                <label for="AmbienteId" class="form-label">Ambiente</label>
                <select asp-for="AmbienteId" asp-items="ViewBag.Ambientes" class="form-control" required></select>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Salvar Sensor</button>
            </div>
        </form>
    </div>
</div>