@model TipoSensor

<div class="d-flex justify-content-center align-items-center">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
        <h2 class="card-title text-center mb-4">Salvar dados do Sensor</h2>
        <form asp-action="Save" method="post">
            <div>
                <input type="hidden" name="Operacao" value="@ViewBag.Operacao">
            </div>
            <div class="mb-3">
                <input asp-for="TipoSensorId" class="form-control" hidden>
            </div>
            <div class="mb-3">
                <label for="NomeTecnico" class="form-label">Nome tecnico do sensor</label>
                <input asp-for="NomeTecnico" class="form-control" placeholder="Digite o Nome tecnico do sensor" required>
                <span asp-validation-for="NomeTecnico" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="ParametroMedido" class="form-label">Parametro que é medido</label>
                <input asp-for="ParametroMedido" class="form-control" required>
                <span asp-validation-for="ParametroMedido" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Salvar Tipo de Sensor</button>
            </div>
        </form>
    </div>
</div>
