.titulo {
  display: flex;
  justify-content: center;
}
.titulo h3 {
  margin-right: 6px;
}
.caixona {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr; /* Duas colunas iguais */
  gap: 10px; /* Espaçamento entre os itens */
}
.caixas {
    display: block;
    width: 564px;
    height: 164px;
    border: 2px solid #dcdcdc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}
.parametro {
  position: absolute;
  left: 5%;
  top: 31%;
  width: 9%;
  height: 34%;
  border-radius: 8px;
}
.dados {
  position: absolute;
  left: 20%;
  top: 26%;
}


.botao {
    border-radius: 8px;
    min-width:2rem;
    min-height:2rem;
    background-color: #dcdcdc;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background 0.1s;
}

.botao:hover {
    background: #fb923c;
    color:white;
}

.botoesDispositivo {
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
}


