@model int

<form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Valor (ºC)</th>
                <th>Horário medição</th>
            </tr>
        </thead>
        <tbody id="tabela-dados">
            <tr id="loading">
                <td colspan="2">Carregando dados...</td>
            </tr>
        </tbody>
    </table>
</form>

@section Scripts
{
    <script>
        let dispositivoId = @Model;
    </script>
    <script src="~/js/consultaDadosApi.js"></script>
}