@model Usuario

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="max-width: 400px; width: 100%;">
        <h2 class="card-title text-center mb-4">Entrar</h2>
        <form asp-action="Salvar" method="post">
            <div class="mb-3">
                <label for="UsuarioId" class="form-label">Id do Usuário</label>
                <input asp-for="UsuarioId" class="form-control" readonly required>
            </div>
            <div class="mb-3">
                <label for="UsuarioNome" class="form-label">Nome</label>
                <input asp-for="UsuarioNome" class="form-control" placeholder="Digite seu Nome completo" required>
            </div>
            <div class="mb-3">
                <label for="Email" class="form-label">E-mail</label>
                <input asp-for="Email" class="form-control" placeholder="Digite seu e-mail" required>
            </div>
            <div class="mb-3">
                <label for="Senha" class="form-label">Senha</label>
                <input asp-for="Senha" class="form-control" placeholder="Digite sua senha" required>
            </div>
            <div class="mb-3">
                <label for="CPF" class="form-label">CPF</label>
                <input asp-for="CPF" class="form-control" placeholder="Digite seu CPF" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Criar usuário</button>
            </div>
        </form>
    </div>
</div>
